#image {
    border:10px solid purple;
    padding: 5px;
    margin: 12px;
}

/* #image {
    position: absolute; */

#image {
    float: left;
}

h1{
    display: inline-block;
    background-color: aqua;
    color: black;
}

h2{
    display:inline-block;
    background-color: aqua;
    color: black;
}

h3 {
    display: inline;
    background-color: beige;
    color: black;
}

.footer {
    display: flex;
    background-color: silver;

}

